<launch>
  
  <!-- Needs to be uncommented if joint contoller is not implemented yet...-->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

  
  <!-- The following should be replaced by whatever the motor control team comes up with -->
  <rosparam command="load"
            file="$(find simulation)/config/sampledrive.yaml"/>	

  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner"
    args=" wheel_controller  --timeout 60"/>
  
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/wheel_controller/cmd_vel"/>
  </node>
  


  

</launch>
