<launch>
  <arg name="model" default="$(find simulation)/swapbot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
  <param name="use_gui" value="true"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <include file="$(find simulation)/launch/gazebo_basic.launch">
    <arg name="model" value="$(arg model)" />
  </include>
  
  <!-- Needs to be uncommented if joint contoller is not implemented yet... -->
  <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
  

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  
  <!-- The following should be replaced by whatever the motor control team comes up with -->
  remap from="drive_cmd" to="gazebo_sample_drive_controller/cmd_vel"/>
 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
   <node pkg="teleop" type="teleop_control.py" name="teleop_control"/>


  <rosparam command="load"
            file="$(find simulation)/config/joints.yaml"
            ns="gazebo_joint_state_controller" />
  <rosparam command="load"
            file="$(find simulation)/config/sampledrive.yaml"
            ns="gazebo_sample_drive_controller" />	

<!-- This is fucking broken, see https://discourse.ros.org/t/ros-control-abi-breakage-in-melodic-2020-02/12681 -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner"
    args="gazebo_joint_state_controller gazebo_sample_drive_controller"/>


</launch>
