<launch>
    <!--<arg name="map_file" default="$(find robot_setup)/clean_maps/lunabotics.yaml"/>-->

    <include file="$(find move_base_setup)/launch/move_base.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_tf_pub"
          args="0 0 0 0 0 0 1 map odom 50"/>

    <node pkg="map_server" type="map_server" name="map_server" args="$(find move_base_setup)/clean_maps/lunabotics.yaml"/>
    <node pkg="move_base_sim" name="simulator" type="simulator.py"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find move_base_sim)/launch/sim.rviz"/>    
</launch>
